using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

namespace GameKit.Collections;
{%- for n in range(1, 6) %}
[SkipLocalsInit]
public ref struct Chunks<TTarget, {%- for i in range(1, n + 1) %}{% if not loop.first %}, {% endif %}TSource{{i}}{% endfor %}> 
    where TTarget : struct
{
    private Span<TTarget> _target;
    {%- for i in range(1, n + 1) %}
    private readonly ReadOnlySpan<TSource{{i}}> _source{{i}};
    {%- endfor %}
    private int _position;
    private int _currentChunkSize;

    public Chunks(Span<TTarget> target, {% for i in range(1, n + 1) %}{% if not loop.first %}, {% endif %}ReadOnlySpan<TSource{{i}}> source{{i}}{% endfor %})
    {
        // TODO: assert target
        {%- if n > 1 %}
        // Validate all source spans have the same length
        {%- for i in range(2, n + 1) %}
        ArgumentOutOfRangeException.ThrowIfNotEqual(source1.Length, source{{i}}.Length, nameof(source{{i}}));
        {%- endfor %}
        {%- endif %}

        _target = target;
        {%- for i in range(1, n + 1) %}
        _source{{i}} = source{{i}};
        {%- endfor %}
        _position = 0;
        _currentChunkSize = 0;
    }
    
    public Chunks(Span<byte> target, {% for i in range(1, n + 1) %}{% if not loop.first %}, {% endif %}ReadOnlySpan<TSource{{i}}> source{{i}}{% endfor %})
    {
        // TODO: assert target
        {%- if n > 1 %}
        // Validate all source spans have the same length
        {%- for i in range(2, n + 1) %}
        ArgumentOutOfRangeException.ThrowIfNotEqual(source1.Length, source{{i}}.Length, nameof(source{{i}}));
        {%- endfor %}
        {%- endif %}

        _target = MemoryMarshal.Cast<byte, TTarget>(target);
        {%- for i in range(1, n + 1) %}
        _source{{i}} = source{{i}};
        {%- endfor %}
        _position = 0;
        _currentChunkSize = 0;
    }

    public Chunks<TTarget{%- for i in range(1, n + 1) %}, TSource{{i}}{% endfor %}> GetEnumerator() => this;

    public bool MoveNext()
    {
        _position += _currentChunkSize;
        
        if (_position >= _source1.Length)
        {
            return false;
        }
        
        int remainingItems = _source1.Length - _position;
        _currentChunkSize = Math.Min(_target.Length, remainingItems);

        return true;
    }

    public Chunk Current
    {
        get
        {
            return new Chunk(
                _target.Slice(0, _currentChunkSize)
                {%- for i in range(1, n + 1) %}, _source{{i}}.Slice(_position, _currentChunkSize){% endfor %});
        }
    }
    
    public ref struct Chunk
    {
        private readonly Span<TTarget> _target;
        {%- for i in range(1, n + 1) %}
        private readonly ReadOnlySpan<TSource{{i}}> _source{{i}};
        {%- endfor %}

        public Chunk(
            Span<TTarget> target
            {%- for i in range(1, n + 1) %}, ReadOnlySpan<TSource{{i}}> source{{i}}{% endfor %})
        {
            {%- for i in range(1, n + 1) %}
            _source{{i}} = source{{i}};
            {%- endfor %}
            _target = target;
        }

        public Span<TTarget> Target => _target;
        {%- if n == 1 %}
        public ReadOnlySpan<TSource1> Source => _source1;
        {%- else %}
        {%- for i in range(1, n + 1) %}
        public ReadOnlySpan<TSource{{i}}> Source{{i}} => _source{{i}};
        {%- endfor %}
        {%- endif %}
    }
}
{%- endfor %}
